project: Project name
description: Short description
owners:
  - name: {{ user.display_name }}
    username: {{ user.username }}
    orcid: {{ user.orcid }}
    email: {{ user.email }}
funders:
  - organization: Your funding organization
    program: Your program
    code: Program code
creation_date: '{date}'
