[submodule "dtool"]
	path = dtool
	url = https://github.com/jic-dtool/dtool.git
[submodule "dtoolcore"]
	path = dtoolcore
	url = https://github.com/jic-dtool/dtoolcore.git
[submodule "dtool-s3"]
	path = dtool-s3
	url = https://github.com/jic-dtool/dtool-s3.git
[submodule "dservercore"]
	path = dservercore
	url = https://github.com/jic-dtool/dservercore.git
[submodule "dtool-lookup-webapp"]
	path = dtool-lookup-webapp
	url = https://github.com/jic-dtool/dtool-lookup-webapp.git
[submodule "dserver-dependency-graph-plugin"]
	path = dserver-dependency-graph-plugin
	url = https://github.com/livMatS/dserver-dependency-graph-plugin.git
[submodule "dserver-retrieve-plugin-mongo"]
	path = dserver-retrieve-plugin-mongo
	url = https://github.com/jic-dtool/dserver-retrieve-plugin-mongo.git
[submodule "dserver-search-plugin-mongo"]
	path = dserver-search-plugin-mongo
	url = https://github.com/jic-dtool/dserver-search-plugin-mongo.git
[submodule "dserver-notification-plugin"]
	path = dserver-notification-plugin
	url = https://github.com/livMatS/dserver-notification-plugin.git
[submodule "dtool-dserver"]
	path = dtool-dserver
	url = https://github.com/livMatS/dtool-dserver.git
[submodule "dserver-signed-url-plugin"]
	path = dserver-signed-url-plugin
	url = https://github.com/livMatS/dserver-signed-url-plugin.git
[submodule "dserver-client-js"]
	path = dserver-client-js
	url = https://github.com/livMatS/dserver-client-js.git
[submodule "dserver-token-generator-plugin-oauth2"]
	path = dserver-token-generator-plugin-oauth2
	url = https://github.com/livMatS/dserver-token-generator-plugin-oauth2.git
[submodule "dserver-direct-mongo-plugin"]
	path = dserver-direct-mongo-plugin
	url = https://github.com/livMatS/dserver-direct-mongo-plugin.git
